<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Reports daily</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">

</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">Weather Reports daily</h1>
        <div class="columns is-multiline">
            {% for report in weather_reports %}
                <div class="column is-one-third">
                    <div class="box">
                        <article class="media">
                            <figure class="media-left">
                                <p class="image is-64x64">
                                    <img src="http://openweathermap.org/img/w/{{ report.icon }}.png" alt="Weather Icon">
                                </p>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>City:</strong> {{ report.city.name }}<br>
                                        <strong>Temperature:</strong> {{ report.temperature }}°C<br>
                                        <strong>Pressure:</strong> {{ report.pressure }} hPa<br>
                                        <strong>Humidity:</strong> {{ report.humidity }}%<br>
                                        <strong>Visibility:</strong> {{ report.visibility }} meters<br>
                                        <strong>Description:</strong> {{ report.description }}<br>
                                        <strong>Timestamp:</strong> {{ report.timestamp|date:"Y-m-d H:i" }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            {% empty %}
                <p>No weather reports available.</p>
            {% endfor %}
        </div>
    </div>
</section>
</body>
</html>
